body {
    font-family: 'Roboto', sans serif;
    font-size: 18px;
    background-color: #fafafa;
}

.navbar-custom {
    background-color: #fff;
    color: #111;
}

.navbar-brand {
    font-family: 'Josefin Sans', sans serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #549F93!important;
}

.navbar-custom a {
    color: #111;
}

.navbar-custom a:hover {
    color: #F46036;
}

.container {
    padding: 25px 50px;
    width: 80%;
    max-width: 1800px!important;
    overflow: hidden;
}

/* WELCOME */

.welcome-row {
    margin: 50px;
    background: linear-gradient(90deg, #549F93 50%, #fff 50%);;
    border-radius: 50px;
}

#welcome-col-1 {
    padding: 50px;
    color: #fff;
}

#welcome-col-2 {
    padding: 50px;
}

#welcome-title {
    font-size: 3em;
    font-family: 'Josefin Sans', sans serif;
    font-weight: bold;
}

#welcome-desc {
    font-size: 1.2em;
}

.module-row {
    padding: 50px;
    font-size: 1.5em;
}

.module-number {
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    background-color: #F46036;
    color: #fff;
    border-radius: 1.5em;
    padding-left: 13px;
    margin-right: 15px;
}

.module-link {
    color: #111;
}

.module-link:hover {
    text-decoration: none;
    color: #F46036;
}

/* LEARN */

.prev-next {
    font-size: 0.8em;
}

.prev-next-button {
    line-height: 60%;
    background-color: #fff;
    color: #444;
    font-weight: bold;
}

.prev-next-button:hover {
    text-decoration: none;
    background-color: #F46036;
    color: #fff;
}

.learn-row {
    margin: 50px;
    background: linear-gradient(90deg, #549F93 50%, #fff 50%);;
    border-radius: 50px;
}

.hangul-col {
    padding: 50px;
}

#hangul-image {
    width: 190px;
    height: 190px;
    border: 5px solid #111;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #444;
}

#hangul-character {
    width: 190px;
    height: 190px;
    font-size: 8em;
    background-color: #fff;
    border: 5px solid #111;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #444;
    text-align: center;
    line-height: 1.3em;
    margin-top: 140px;
    margin-left: -60px;
}

#hangul-audio {
    width: 80px;
    height: 80px;
    background-color: #F46036;
    color: #fff;
    border: 5px solid #111;
    border-radius: 50px;
    box-shadow: 1px 1px 5px #444;
    font-size: 2em;
    padding: 10px 15px;
    margin-top: 40px;
    margin-left: -105px;
}

/* LEARN LETTER */

#hangul-desc {
    font-size: 2em;
    font-weight: bold;
}

.btn-clear {
    border: 1px solid #111;
}

.btn-submit {
    background-color: #F46036;
    color: #fff;
    border: 1px solid #F46036;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: #fff;
    color: #F46036;
}

.form-group {
    padding: 10px 0;
}

#change-state {
    padding: 50px 10px 0 10px;
}

.alert {
    line-height: 75%;
    font-weight: bold;
}

/* LEARN SYLLABLE */

#syllable-desc {
    padding-bottom: 25px;
}

.drag-col {
    font-size: 2em;
    font-weight: bold;
    padding: 0 50px;
}

.draggable-letter {
    z-index: 100;
}

#drop-box {
    width: 190px;
    height: 190px;
    font-size: 8em;
    background-color: #fff;
    border: 5px solid #111;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #444;
    text-align: center;
    line-height: 1.3em;
}

/* QUIZ LETTER */

#quiz-hangul {
    width: 240px;
    height: 240px;
    font-size: 8em;
    background-color: #fff;
    border: 5px solid #111;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #444;
    text-align: center;
    line-height: 1.3em;
    margin: 80px 0;
}

/* QUIZ SYLLABLE */
#quiz-audio {
    width: 190px;
    height: 190px;
    background-color: #F46036;
    color: #fff;
    border: 5px solid #111;
    border-radius: 120px;
    box-shadow: 3px 3px 5px #444;
    font-size: 7em;
    padding-left: 20px;
    margin: 80px 0;
}