<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--- BOOTSTRAP --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <!--- STYLESHEETS AND JS FILES --->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--- FONTS --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    {% block header %}
    {% endblock %}

    <title>호랑이 Holang-i</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="http://127.0.0.1:5000/">호랑이 Holang-i</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="learnDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn
                </a>
                <div class="dropdown-menu" aria-labelledby="learnDropdown">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/learn/letter/1">Letters and Sounds &raquo;</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/">Constructing Syllables</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/">Words and Meanings</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="quizDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quiz
                </a>
                <div class="dropdown-menu" aria-labelledby="quizDropdown">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/quiz/letter/1">Letters and Sounds</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/">Constructing Syllables</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/">Words and Meanings</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
