{% extends "learn.html" %}
<div class="d-flex justify-content-between prev-next">
    <a class="p-3 prev-next-button" href="http://127.0.0.1:5000/">← PREVIOUS</a>
    <div class="p-3">PROGRESS: <b>1</b>/5</div>
    <a class="p-3 prev-next-button" href="http://127.0.0.1:5000/">NEXT →</a>
</div>
{% block learn_content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_syllable.js') }}"></script>

<script>
    let syllable = {{syllable|tojson}}
</script>

<body>
    <div class="col-6 my-auto hangul-col d-flex justify-content-center">
        <img id="hangul-image" id="syllable-image" src="{{syllable.image}}" alt="{{syllable.definition}}">
        <div id="hangul-character">
            {{syllable.hangul}}
        </div>
        <div id="hangul-audio" onclick="play()">
            <i class="fas fa-volume-up"></i>
        </div>
    </div>
    <div class="col-6 my-auto hangul-col">
        <div id="syllable-desc" class="text-center">
            Drag the letters to the box to construct the syllable.
        </div>
        <div class="row">
            <div class="col-6 my-auto drag-col">
                <div id="first_row_of_drag_table" class="row">
                </div>
                <div id="second_row_of_drag_table" class="row">
                </div>
                <div class="text-center">
                    <button id="clear_button" type="button" class="btn btn-clear">CLEAR</button>
                    <button id="submit_button" type="submit" class="btn btn-submit">SUBMIT</button>
                </div>
            </div>
            <div class="col-6 my-auto d-flex justify-content-center">
                <div id="drop-box" class="">
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}