{% extends "learn.html" %}

{% block learn_content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_syllable.js') }}"></script>

<script>
    let syllable = {{syllable|tojson}}
</script>

<body>
    <div class="col-6 my-auto hangul-col d-flex justify-content-center">
        <img id="hangul-image" id="syllable-image" src="{{syllable.image}}" alt="{{syllable.definition}}">
        <div id="hangul-character">
            {{syllable.hangul}}
        </div>
        <div id="hangul-audio" onclick="play()">
            <i class="fas fa-volume-up"></i>
        </div>
    </div>
    <div class="col-6 my-auto hangul-col">
        <div id="syllable-desc" class="text-center">
            Drag the letters to the box to construct the syllable.
        </div>
        <div class="row">
            <div class="col-6 my-auto drag-col">
                <div class="row">
                    <div class="col-4" onclick="play('ㄱ')">
                        ㄱ
                    </div>
                    <div class="col-4" onclick="play('ㄴ')">
                        ㄴ
                    </div>
                    <div class="col-4" onclick="play('ㅂ')">
                        ㅂ
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" onclick="play('ㅅ')">
                        ㅅ
                    </div>
                    <div class="col-4" onclick="play('ㅎ')">
                        ㅎ
                    </div>
                    <div class="col-4" onclick="play('ㅏ')">
                        ㅏ
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-clear">CLEAR</button>
                    <button type="submit" class="btn btn-submit">SUBMIT</button>
                </div>
            </div>
            <div class="col-6 my-auto d-flex justify-content-center">
                <div id="drop-box">

                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}