{% extends "learn.html" %}
{% block learn_content %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn_letter.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='learn_letter.css')}}">
    <script>
        $(document).ready(function() {
            let id = {{id|tojson}}
            let info = display_info(id)
            console.log(id)
        })

    </script>
</head>
<body>
    <div class="col-6 my-auto hangul-col d-flex justify-content-center">
        <div id = "image">
        </div>
        <div id="hangul-character">
        </div>
        <div id="hangul-audio">
            <i class="fas fa-volume-up"></i>
        </div>
    </div>
    <div class="col-6 my-auto hangul-col">
        <div id = "input-feedback">
        </div>
        <div id="hangul-desc">
        </div>
        <br>
        <form id="form">
            <div class="form-row">
                <div class = "col question">
            </div>
            <div class="form-row">
                <div class="col">
                    <input  class="form-control" id="hangul-question" placeholder="Answer...">
                </div>
                <input type="submit" id="submit" class="btn btn-submit"></input>
            </div>
        </form>
        <div id = "change-state">
        </div>
    </div>
</body>
{% endblock %}
