{% extends "quiz.html" %}

{% block quiz_content %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_class2_letter.js') }}"></script>
    <script>
        let letter = {{letter|tojson}}
        $(document).ready(function() {
            let id = {{id|tojson}}
            let info = display_info(id)

            console.log(id)
        })

    </script>
</head>
<div class="col-6 my-auto hangul-col d-flex justify-content-center">
  <div id="quiz-hangul">
  </div>
</div>
<div class="col-6 my-auto hangul-col">
    <div id = "input-feedback">
    </div>
  <form class="form">
    <div class="form-row">
      <div class="col question">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input class="form-control" id="hangul-question" placeholder="Answer...">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-submit">Submit</button>
      </div>
    </div>
  </form>
  <div id = "change-state">
  </div>
</div>
{% endblock %}
