{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row welcome-row">
    <div id="welcome-col-1" class="col-6 my-auto">
        <div id="welcome-title">
            Hangul,
        </div>
        <div id="welcome-desc">
            the Korean alphabet, is the modern official writing system for the Korean language. Used by over 80
            million people to read and write Korean, there is no better time to learn Hangul than now!
            <br>
            <br>
            <b>Click on one of the lessons to the right</b> to get started.
        </div>
    </div>
    <div class="col-6 my-auto">
        <div class="row module-row">
            <span class="module-number">1</span> <a class="module-link" href="http://127.0.0.1:5000/learn/letter/1">Letters and Sounds</a>
        </div>
        <div class="row module-row">
            <span class="module-number">2</span> <a class="module-link" href="http://127.0.0.1:5000/learn/syllable/1">Constructing Syllables</a>
        </div>
        <div class="row module-row">
            <span class="module-number">3</span> <a class="module-link" href="http://127.0.0.1:5000/learn/vocab/1">Words and Meanings</a>
        </div>
    </div>
</div>
{% endblock %}
